.container{
  margin: 50px 0;
}

.card{
  margin: 0 2% !important;
}

.infected{
  border-bottom: 10px solid rgba(86,163,166,1);
}

.recovered{
  border-bottom: 10px solid rgba(149,191,116,0.5);
}

.deaths{
  border-bottom: 10px solid rgba(254,95,85,0.5);
}

@media (max-width: 770px) {
  .card {
  margin: 2% 0 !important;
}
}
